body {
  background: #99e5ff;
}



#man {
  width: 350px;
  position: fixed;
  bottom: 700px;
  right: -20%;
}

#ground {
  width: 100%;
  height: 100px;
  background: #555;
  position: fixed;
  bottom: 0px;
  left: 0;
}

#dock {
  width:200px;
  left: 48%;
  bottom: 78px;
  position: fixed;
}

#man2 {
  width: 350px;
  position: fixed;
  bottom: 81px;
  left: 23%;
}


#dock2 {
  width:200px;
  left: 35%;
  bottom: 78px;
  position: fixed;
  z-index: 2;
}


